<div class="sidebar">
	<div class="container sidebar">
		<div class="sidebar-about">
		
			<center>
				<img src="/asset/picture/circle-cropped.png" alt="" width="200" >
			</center>
			
			<h3>
				<span style="color:white">
					{{ site.title }}
				</span>
			</h3>
			
			<p class="lead">
				{{ site.tagline }}
			</p>
			
		</div>

		<nav class="sidebar-nav">
		
			<a 	class="sidebar-nav-item" 
				href="/index.html" >Home</a>
				
			<a 	class="sidebar-nav-item" 
				href="/projects" >Projects</a>
				
<!--			<a 	class="sidebar-nav-item" 
				href="/out-and-back" >Out and Back</a> -->

			<a 	class="sidebar-nav-item" 
				href="/blog" >Blog</a>
		
			<a 	class="sidebar-nav-item" 
				href="/tags" >Tags</a>		
		
			<a 	class="sidebar-nav-item" 
				href="/about" >About</a>

			<a 	class="sidebar-nav-item" 
				href="/contact" >Contact</a>
				
<!--			<a 	class="sidebar-nav-item" 
				href="/indexTest.html" 
				{% if page.active == 'projects' %} 
					style="font-weight:bold"
				{% endif %}>Projects</a> -->

<!--		  <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a> -->
<!--		  <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a> -->

		</nav>

		{% include social-media-links.html %}		

		<p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
	  </div>
</div>
